:root{
    font-family: Roboto Condensed, sans-serif;
    font-size: 26px;
    --color: #006f71;
}
[id='Graph']{
    height: 30px;
    border-radius: 5px;
    width: 320px;
}
div{
    position: relative;
    top: 11rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    color: var(--color);
}
button{
    cursor: pointer;
}